{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Shop {% endblock %}
{% block style_block %} {% endblock %}
{% block body_block %}
    <div class="container mt-5">
        <h2 class="mb-3">
            Payment > <span class="text-muted">Make Payment</span>
        </h2>
        <div class="row">
            <div class ="col-md-12">
                <div class="card mb-5" style="height: auto;">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_block %}{% endblock %}